* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    --primaly-color: #545454;
    --secondary-color: #2c1a9e;
}

body {
    background-image: url(../../imgs/pizza-4.jpg);
    background-size: cover;
    object-fit: cover;
}

h1 {
    font-size: 3em;
    color: var(--secondary-color);
}

h2 {
    font-size: 2em;
    color: var(--secondary-color);
}

h3 {
    font-size: 1.5em;
    color: var(--secondary-color);
}

p {
    font-size: 1em;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

/* Nav */
nav ul {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
  
nav li {
    float: left;
}
  
nav a {
    display: block;
    color: var(--primaly-color);
    text-align: center;
    padding: 10em 5em;
    text-decoration: none;
}
  
nav a:hover {
    background-color: var(--secondary-color);
}

/* Footer */
footer ul {
    display: flex;
    justify-content: center;
    background-color: #333;
}

footer a {
    display: block;
    color: white;
    text-align: center;
    padding: 3em 3em;
    text-decoration: none;
}


/* Index */
body {
    position: relative;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0.04;
    position: absolute;
    top: 300px;
    right: 100px;
}

.first-message {
    display: block;
    font-size: 3em;
    width: max-content;
    margin: 150px auto;
}

.gif-container {
    width: max-content;
    margin: 0 auto;
}

.gif {
    width: 120px;
}

input:checked ~ .first-message {
    display: none;
}

input:checked ~ .gif-container {
    display: none;
}

.home-page {
    display: none;
    width: 60%;
    margin: 0 auto;
}

input:checked ~ .home-page {
    display:block
}

.about {
    display: block;
    text-align: left;
    margin: 20px auto;
}

.menu-p {
    color: aliceblue;
}

input[type="button"] {
    width: max-content;
    padding: .5em;
    margin: .5em;
    font-size: 1em;
    font-weight: 600;
    background-color: red;
}

/* Menu */
.page-container {
    margin-top: 350px;
}

#menu-page-container {
    display: flex;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;

    transform: rotate(60deg);
}

.menu-item img:hover {
    transform: rotate(300deg);

}

.menu-item p {
    color: var(--primaly-color);
}

.menu-item p:hover {
    color: var(--secondary-color);
}

/* Order */
.flexbox {
    display: flex;
    margin: 10px auto;
}

.order-container {
    display: block;
}

.order-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.price {
    font-size: 1em;
}

.customer-info {
    width: max-content;
    margin: 0 auto;
    padding: .5em;
    border: 2em dotted var(--secondary-color);
}

input[type="text"],
input[type="email"] {
    padding: .5em .5em;
}

input[type="submit"] {
    padding: .5em .5em;
    background-color: var(--primaly-color);
    color: var(--secondary-color);
    border: none;
}

input[type="reset"] {
    padding: 1em 1em;
    background-color: red;
    font-size: 1em;
    color: var(--secondary-color);
    border: none;
    margin-left: 24em;
}